.activeLinkStyle {
    text-decoration: none;
        color: #1c4670;
        border: 2px solid #1c4670;
        padding-top: 6px;
        border-radius: 4px;
        width: 73px;
        padding-left: 15px;
        padding-bottom: 5px;
        margin-bottom: 4px;
}

.linkStyle {
    text-decoration: none;
    color: #1c4670;
}